# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
contracts/zeppelin/Bounty.sol
contracts/zeppelin/DayLimit.sol
contracts/zeppelin/LimitBalance.sol
contracts/zeppelin/MultisigWallet.sol
contracts/zeppelin/SafeMath.sol
contracts/zeppelin/lifecycle/Killable.sol
contracts/zeppelin/lifecycle/Migrations.sol
contracts/zeppelin/lifecycle/Pausable.sol
contracts/zeppelin/ownership/Claimable.sol
contracts/zeppelin/ownership/Contactable.sol
contracts/zeppelin/ownership/DelayedClaimable.sol
contracts/zeppelin/ownership/Multisig.sol
contracts/zeppelin/ownership/Ownable.sol
contracts/zeppelin/ownership/Shareable.sol
contracts/zeppelin/payment/PullPayment.sol
contracts/zeppelin/token/BasicToken.sol
contracts/zeppelin/token/CrowdsaleToken.sol
contracts/zeppelin/token/ERC20.sol
contracts/zeppelin/token/ERC20Basic.sol
contracts/zeppelin/token/SimpleToken.sol
contracts/zeppelin/token/StandardToken.sol
contracts/zeppelin/token/VestedToken.sol
